/* BASIC STYLES HERE */
body {
    background-size: cover;
    background-repeat: no-repeat;
    z-index: -1;
}




span {
  font-size: 1rem;
  font-weight: bold;
  color: #ffffff;
  text-shadow: 0 0 5px #000;
  opacity: .7;
}

.span-1 {
  position: absolute;
  bottom: 6rem;
  left: 1rem;
}

.span-2 {
  position: absolute;
  bottom: 4rem;
  left: 1rem;
}

.span-3 {
  position: absolute;
  bottom: 2rem;
  left: 1rem;
}

#offcanvas-btn {
  position: absolute;
  top: 3rem;
  left: 3rem;
  border: none;
  font-size: 3rem;
  color: #fff;
  text-shadow: 2px 2px 3px #000;
  cursor: pointer;
  z-index: 1;
  filter: brightness(75%);
  transition: 1s;
}

#offcanvas-btn:hover {
  filter: brightness(150%);
  transition: 1s;
}

.image-card {
  position: absolute;
  bottom: 0;
  left: 0;
  filter: blur(5px) grayscale(75%);
  transform: scale(0.6);
  opacity: .5;
  transition: 1s;
}

.image-card:hover {
  filter: blur(0px) grayscale(0%) brightness(150%);
  transform: scale(1);
  opacity: .9;
  transition: 1s;
}

.quote-card {
  filter: blur(5px) grayscale(75%);
  transform: scale(0.9);
  opacity: .5;
  transition: 1s;
}

.quote-card:hover {
  filter: blur(0px) grayscale(0%);
  transform: scale(1);
  opacity: .9;
  transition: 1s;
}

.author-reveal {
  transition: 1s;
}

.author-reveal:hover {
  color: #efefef !important;
  transition: 1s;
}

.clock {
  width: 20rem;
  height: 20rem;
  position: relative;
  padding: 2rem;
  border: 7px solid #282828;
  box-shadow: -4px -4px 10px rgba(67,67,67,0.5),
                inset 4px 4px 10px rgba(0,0,0,0.5),
                inset -4px -4px 10px rgba(67,67,67,0.5),
                4px 4px 10px rgba(0,0,0,0.3);
  border-radius: 50%;
  margin: auto;
  margin-top: -2rem;
  transform: scale(0.75);
  transition: 1s;

}

.outer-clock-face {
  position: relative;
  background: #282828;
  overflow: hidden;
  width: 100%;
  height: 100%;
  border-radius: 100%;
  opacity: .8;
}

.outer-clock-face::after {
  -webkit-transform: rotate(90deg);
  -moz-transform: rotate(90deg);
  transform: rotate(90deg)
}

.outer-clock-face::after,
.outer-clock-face::before,
.outer-clock-face .marking{
  content: '';
  position: absolute;
  width: 5px;
  height: 100%;
  background: #306935a5;
  z-index: 0;
  left: 49%;
}

.outer-clock-face .marking {
  background: #3d3d64;
  width: 3px;
}

.outer-clock-face .marking.marking-one {
  -webkit-transform: rotate(30deg);
  -moz-transform: rotate(30deg);
  transform: rotate(30deg)
}

.outer-clock-face .marking.marking-two {
  -webkit-transform: rotate(60deg);
  -moz-transform: rotate(60deg);
  transform: rotate(60deg)
}

.outer-clock-face .marking.marking-three {
  -webkit-transform: rotate(120deg);
  -moz-transform: rotate(120deg);
  transform: rotate(120deg)
}

.outer-clock-face .marking.marking-four {
  -webkit-transform: rotate(150deg);
  -moz-transform: rotate(150deg);
  transform: rotate(150deg)
}

.inner-clock-face {
  position: absolute;
  top: 10%;
  left: 10%;
  width: 80%;
  height: 80%;
  background: #282828;
  -webkit-border-radius: 100%;
  -moz-border-radius: 100%;
  border-radius: 100%;
  z-index: 1;
}

.inner-clock-face::before {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  width: 16px;
  height: 16px;
  border-radius: 18px;
  margin-left: -9px;
  margin-top: -6px;
  background: #4d4b63;
  z-index: 11;
}

.hand {
  width: 50%;
  right: 50%;
  height: 6px;
  background: #61afff;
  position: absolute;
  top: 50%;
  border-radius: 6px;
  transform-origin: 100%;
  transform: rotate(90deg);
  transition-timing-function: cubic-bezier(0.1, 2.7, 0.58, 1);
}

.hand.hour-hand {
  width: 30%;
  z-index: 3;
}

.hand.min-hand {
  height: 3px;
  z-index: 10;
  width: 40%;
}

.hand.second-hand {
  background: #bdd55d;
  width: 45%;
  height: 2px;
}


.clock:hover {
  opacity: 1;
  transform: scale(1);
  transition: 1s;
}